
svg {
	width:100px;
	height:100px;
	margin: 1em 0 0 1em;
	transition : all 2s ease;	
}

/*
===========================================================
TRANSITION
===========================================================
*/

.cicrle {
			color:#1e93a2;
			transform: scale(0);
}


.circle:hover {
				cursor: pointer;
				transform: scale(09;

    
  }
				}




/*
===========================================================
ANIMATION
===========================================================
*/


@keyframes scale {
  0% {
     transform: scale(0);
  }
  70%{
  	transform: scale(1.1);
  }
  85%{
  	transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}