



@media (min-width: 320px){

body  {
	background-color: black;
width: 100%;
margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
background-repeat: no-repeat;
background-size:100%;

}



body[id=ecran1]{
background-image: url("img/ecran1.jpg");
}

body[id=ecran2]{
background-image: url("img/ecran2.jpg");
}
	
body[id=ecran3]{
background-image: url("img/ecran3.jpg");
}
	
body[id=ecran4]{
background-image: url("img/ecran4.jpg");
}
	
body[id=ecran5]{
background-image: url("img/ecran5.jpg");
}
	
body[id=ecran6]{
background-image: url("img/ecran6.jpg");
}

body[id=ecran7]{
background-image: url("img/ecran7.jpg");
}

body[id=ecran8]{
background-image: url("img/ecran8.jpg");
}

body[id=ecran9]{
background-image: url("img/ecran9.jpg");
}
	
body[id=ecran10]{
background-image: url("img/ecran10.jpg");
}
	
body[id=ecran11]{
background-image: url("img/ecran11.jpg");
}
	
body[id=ecran12]{
background-image: url("img/ecran12.jpg");
}
	
	

[id=bouton]{
margin-left: 34.5%;
margin-top:-1%;
/*border: 3px solid green;*/
width:48vw;

}

audio {
	visibility : hidden;
	opacity: 0%;
}



/*(SVG)*/

circle {
	transform-origin: 50% 50%;
	transform : scale(0.6, 0.6)
}


} /*fermeture mediaqueries*/





